@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1.15;
}

:root {
  --greendark: #00c5d3;
  --greenlight: #ffc504;
  --bluebody: #012131;
  --bluehover: #024950;
}

/*-----HEADER-----*/
.card__header {
  width: 100%;
  height: 4.5rem;
  margin: 1.5% 3.5%;
  display: flex;
  align-items: center;
}

.card__nav {
  margin: 0 4rem;
  display: flex;
  gap: 4.5em;
  width: 100%;
}

/* nav buttons */
.card__nav-item {
  color: var(--greendark);
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 1% 5%;
  border: 2px solid var(--greenlight);
}
/*-----HEADER-----*/


/*-----MAIN BODY-----*/
.card {
  width: 100%;
  background-color: var(--bluebody);
  display: flex;
  flex-direction: column;
}

.card__content {
  color: white;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  justify-content: center;
  align-items: center;
}

.card__content-section {
  display: flex;
  width: 100%;
  padding: 0 3rem;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 5.5rem;
}

.card__content-section__info {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

/* main title of the page */
.card__content-section__info-title {
  font-size: 2.4em;
  font-family: "Krona One", sans-serif;
}

.card__content-section__info-title strong {
  color: var(--greendark);
}

.card__content-section__info p {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.card__content-section__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.card__content-section__div-title {
  font-family: "Krona One", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* button of the web sites */
.card__content-section__div__link {
  border: 2.2px solid var(--greenlight);
  width: 16.5em;
  padding: 20px 0;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.card__content-section__div__link:hover {
  background-color: var(--bluehover);
  transform: translate(0, -0.05em);
}

.card__content-section__div__link:active {
  transform: translate(0, 0.05em);
}

/* image container */
.card__image-emulation {
  width: 40vw;
  max-width: 320px;
  max-height: 450px;
  aspect-ratio: auto 150/260;
  border: 2px dotted rgb(104, 174, 0);
  background-color: rgba(0, 155, 103, 0.392);
  align-self: baseline;
  filter: grayscale(100%);
  transition: filter .2s ease-in;
}

.card__image-emulation:hover {
  filter: grayscale(0);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter .2s ease-in;
  filter: blur(2px);
}

.card__image-emulation:hover > .card__image {
  filter: blur(0);
}

/*-----MAIN BODY-----*/


/*-----FOOTER-----*/
.card__footer {
  width: 100%;
  height: 4.5rem;
  margin-top: 5%;
  background-color: var(--greendark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.card__footer-text {
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
/*-----FOOTER-----*/

@media (min-width: 1350px) {
  body {
    height: 100vh;
  }
}
